.maincontent {
  position: relative;
  padding-bottom: 3%;

  width: 100%;
  scroll-behavior: smooth;
  height: 100vh;
  
}
.singlecontainer {
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  position: relative;
  position: relative;
  margin-top: 5%;
  margin-bottom: 1%;
  height: 50vh;
  width: 95%;
  margin-left: 50%;
  transform: translate(-50%);
  padding: 0%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  box-shadow: -1px 3px 10px 0px rgb(23 10 44 / 60%);
  justify-items: center;
}
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}
.topdiv {
  animation-name: test;
  animation-duration: 350ms;
  animation-timing-function: linear infinite;
  position: relative;
  background-color: rgba(140, 247, 255, 0);
  border: 2px solid rgba(245, 222, 179, 0);
  border-radius: 20px;
  height: 30px;
  margin-top: 0%;
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    transparent 0%,
    #e8e8e8 50%,
    transparent 100%
  );
  animation: load 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.topdiv img {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 5%;
  margin-left: 0%;
  zoom: 0%;

  border: 2px solid rgba(202, 179, 245, 0);
  border-radius: 20px;

}
.topdiv img:hover {
  zoom: 100%;
}
.bottomdiv {
  position: relative;
  display: flex;
  margin-top: 0%;
  justify-content: space-evenly;
  background: linear-gradient(
    to right,
    transparent 0%,
    #e8e8e8 50%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  border: 2px solid rgba(245, 222, 179, 0);
  border-radius: 20px;
  height: 5vh;
  margin-bottom: 1%;
  align-items: center;
}
.caption {
  position: relative;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    #e8e8e8 50%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  min-height: 20px;
  max-height: 50px;
  padding: 10px;

  border-radius: 5px;
  overflow: scroll;

  overflow-wrap: break-word;
}
.imgdiv {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 0%;
  margin-top: 1%;
  outline: none;
  border: 2px solid rgba(245, 222, 179, 0);
  border-radius: 20px;
  border: none;
  height: 35vh;
}
.imgdiv img {
  border: 1px solid rgba(245, 222, 179, 0);
  border-radius: 20px;
}
@keyframes load {
    from {
      left: -10%;
    }
    to {
      left: 10%;
    }
  }
  

@media screen and (min-width:768px){
  .maincontent{
    background: white;
    top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .singlecontainer{

    transform: translate(0%);
    justify-items: center;
    width: 30%;
    margin: 1%;
    padding: 0%;
    box-shadow: 1px 3px 0px 0px rgb(23 10 44 / 0%);
    animation: transform box-shadow  0.1s;

   
 
  }
  .infi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .caption{
    overflow: hidden;
  }
  .singlecontainer:hover{
   
      transform: scale(1.01);
        box-shadow:   0px 0px 10px 0px rgb(23 10 44 / 60%);
  }
  .bottombarImg:hover{
    transform:scale(1.5);
  }

}