.footer_container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-around;
  bottom: 0%;
  height: auto;
  z-index: 10;
  padding: 0;
  margin: 0;
  height: 3em;

  border: 1px solidrgba(255, 255, 255, 0) e;
  border-radius: 10em 10em 0 0;
  background: linear-gradient(to right, rgb(13, 13, 20), white);
}

.selected {
  color: #7e93fa;
}
.notselected {
  color: #48507a;
}
.footer a:hover {
  transform: scale(1.5);
  color: #7e93fa;
}
.footer a:active {
  transform: scale(1.5);
  color: #7e93fa;
}
.footer_backdrop {
  position: absolute;
  display: flex;
  padding: 0;
  margin: 0;
  border-radius: 10em 10em 0 0;
  width: 100%;
  justify-content: space-around;
  height: 3em;
  background-color: rgba(0, 0, 0, 0.827);
  backdrop-filter: blur(1000em);
}

.footer {
  position: absolute;
  display: flex;
  margin: 0;
  border: 1px solidrgba(255, 255, 255, 0) e;
  border-radius: 10em 10em 0 0;
  padding: 0.5em;
  border-radius: 10em 10em 0 0;
  width: 100%;
  justify-content: space-around;
  align-self: center;
  border: 2px solid rgba(0, 0, 0, 0);
  z-index: 10;
  height: 3em;

  box-shadow: 0 0 5px #777777, 0 0 10px #6e6e6e, 0 0 20px #09123f, 0 0 40px 10px #000728;
}
