.stories {
  display: flex;
  z-index: 3;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  height: 100%;
  margin: 0;
}
.stories > li,
.particular {
  cursor: pointer;
  list-style: none;
  width: 2em;
  height: 2em;
  margin-left: 0.2em;
  border: 1px solid #ffffff00;
  border-radius: 5em;
  box-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px rgb(73, 73, 73);
  background: linear-gradient(to top, #323341, #171111);
  transition: all 0.2s ease-in-out;
}
.stories > li:hover,
.particular:hover {
  box-shadow: 0 0 1px rgb(106, 106, 106), 0 0 10px #0080ff;
  background: linear-gradient(to bottom, #0080ff, #0080ff);
}
.stories > li:hover,
.particular:active {
  box-shadow: 0 0 1px rgb(106, 106, 106), 0 0 10px #0080ff;
  background: linear-gradient(to bottom, #0080ff, #0080ff);
}
