.maindiv{
        width: 100vw;
        height: 100vh;
        background-color: #263238;
        position: absolute;
        display: flex;
        flex-direction: column;
        overflow: hidden;
}
.messages{
        height: 700px;
        box-shadow: -1px -5px 8px 0px #37474f;
        background-color: #263238;
        border: 1px solid #80808000;
        border-radius: 5px;
  
        max-width: 100%;
        overflow: scroll;
        overflow-x: hidden;
     
        position: relative;
}
.senddiv{
         position: relative;
    display: flex;
    width: 90vw;
    left: 5vw;
 
    background-color: #f6fbff;
    border: 5px solid #37474f00;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
  
}
.textarea{
        position: relative;
        width: 70%;
        height: 50px;
        outline: none;
        border: 1px solid #26323847;
        border-radius: 10px;
        font-family: sans-serif;
        padding: 5px;
        resize: none;
        font-size: 1.1em;
}
.sendbut{
        position: relative;
        width: 50px;
        height: 50PX;
        transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 3s;
 
    
    
}
.sendbut:active{
        transform: translate(100px,-100px);

   
}
.sendbut:hover{
        transform: scale(1.4);
}

.perticularmessage_receiver{
        position: relative;
        background-color: #0d3b70;
        max-width: 70%;
        overflow-wrap: break-word;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        margin-left: 170px;
        /* color: #ffffff; */
        /* margin-right: 50px; */
        border: 1px solid #80808000;
        border-radius: 10px;
        overflow-x: hidden;
}

.perticularmessage_sender{

        position: relative;
        background-color: #661873;
        max-width: 70%;
        overflow-wrap: break-word;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        margin-left: 10px;
        border: 1px solid #80808000;
        border-radius: 10px;

    
    
}
.perticularmessage_sender label{
        background-color: #90539b;
        color: white;
        border: 1px solid #80808000;
        border-radius: 10px;
        font-size: 0.8em;
        /* text-align: justify; */
        margin: 5px; 
        
}
.perticularmessage_sender h3{
        width: 90%;
  
        margin-left: 5%;
      
       
}
.perticularmessage_sender p{
          
        width: 100%;
        position: relative;
        opacity: 0.6;
        font-size: 0.5em;
   
}



.perticularmessage_receiver label{
       
        
        left: 60%;
        width: 100%;
        position: relative;
  
        background-color: #2e6795;
        color: white;
        border: 1px solid #80808000;
        border-radius: 10px;
        font-size: 0.8em;
        /* text-align: justify; */
        margin: 5px;
}
.perticularmessage_receiver h3{
        width: 90%;

        margin-left: 5%;
 
    
}
.perticularmessage_receiver p{
        opacity: 0.6;
        font-size: 0.3em;
        left: 80%;
        position: relative;
  
}
.scrolldiv{

}


@media screen and (min-width:768px) {
        .maindiv{
                width: 50vw;
                left: 27vw;
                box-shadow: 2px -6px 300px 6px #37474f;
        }
        .perticularmessage_receiver{
                max-width: 70%;
                overflow-wrap: break-word;
                margin-top: 10px;
                margin-bottom: 10px;
                color: white;
                margin-left: 40%;
                margin-right: 15px;
        }
        .senddiv{
                width: 40vw;
                left: 5vw;
        }
        .textarea{
                width: 80%;
                height: 50px;
        }
}
