.maindiv {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: none;
}

.topdivmessage {
  display: flex;
  z-index: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 10;
  background: black;
  padding: 1em;
}
.nomessages {
  position: relative;
  padding-bottom: 3%;
  width: 100%;
  scroll-behavior: smooth;
  background: #ffffff00;
  width: 90%;
  margin-left: 5%;
  font-family: cursive;
  border: 1px solid #80808000;
  font-size: 1.2em;
  border-radius: 10px;
  /* box-shadow: 1px 1px 10px 1px #80808047; */
  text-align: center;
}
.topdivmessage label:nth-child(2) {
  font-weight: bolder;
}

.messages {
  max-width: 100%;
  overflow: scroll;
  overflow-x: scroll;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.996), rgba(18, 15, 15, 0.976));
}

.senddiv {
  position: relative;
  display: flex;
  width: 100 vw;
  justify-content: space-evenly;
  margin: 1em;
  border-radius: 1em;
  padding: 0%;
  align-items: stretch;
  bottom: 0;
  align-self: center;
  justify-self: end;
  align-self: auto;
  margin-bottom: 0;
  background: linear-gradient(to bottom, #121e2d, #000000);

  box-shadow: 0 0 1px #ffffff9e, 0 0 5px #ffffff89, 0 0 10px #1d77fff9, 0 0 15px #1d77ffef,
    0 0 100px #1d77ff7e;
}
.textarea {
  position: relative;
  color: white;
  width: 100%;
  /* height: 50
px
; */
  outline: none;
  border: 1px solid #26323800;
  border-radius: 10px;
  font-family: sans-serif;
  padding: 7px;
  margin-top: 0%;
  font-size: 1.1em;
  resize: none;
}

.sendbut {
  position: relative;
  width: 50px;
  height: 50px;
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.sendbut:active {
  transform: translate(20px, -20px);
}

.perticularmessage_receiver {
  position: relative;
  /* background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); */
  max-width: 70%;
  overflow-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: white;
  background-color: #006aff;

  margin-left: 170px;
  /* color: #ffffff; */
  /* margin-right: 50px; */
  border: 2px solid #80808000;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  /* border-right: 0px solid grey; */
  overflow-x: hidden;
}

.perticularmessage_sender {
  position: relative;
  background-color: white;
  max-width: 50%;
  overflow-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  margin-left: 10px;
  border: 2px solid #80808000;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
}

.perticularmessage_sender label {
  background-color: #dbdbdb00;
  color: #0000005e;
  border: 1px solid #80808000;
  border-radius: 10px;
  font-size: 0.8em;
  /* text-align: justify; */
  margin: 5px;
}

.perticularmessage_sender h3 {
  width: 90%;

  margin-left: 5%;
}

.timeleft {
  width: 100%;
  position: relative;
  opacity: 0.4;
  font-size: 0.5em;
}

.perticularmessage_receiver label {
  left: 60%;
  width: 100%;
  position: relative;
  background-color: #11436b00;
  color: #ffffffc2;
  border: 1px solid #80808000;
  border-radius: 10px;
  font-size: 0.8em;
  /* text-align: justify; */
  margin: 5px;
}

.perticularmessage_receiver h3 {
  width: 90%;

  margin-left: 5%;
}

.timeright {
  opacity: 0.4;
  font-size: 0.5em;
  left: 80%;
  position: relative;
}

.scrolldiv {
}

.icon {
  position: absolute;

  transform: translate(-50%, -50%);
  top: 1%;
  left: 1%;
  width: 80px;
  height: 60px;
  zoom: 0.4;
  z-index: 10;
  transform: rotate(180deg);
  cursor: pointer;
}

.chats_label {
  color: #d8d7d7;
  z-index: 10;
  font-size: 2em;
  font-weight: 700;
  /* top: 10px; */
  position: absolute;
  top: 2.5%;
  right: 5%;
}

.arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: #d51c5b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  animation: arrow 700ms linear;
}

.arrow::after,
.arrow::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: #d51c5b;
}

.arrow::after {
  top: -12px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.icon:hover {
  zoom: 0.5;
}

.userPicture {
  /* display: flex; */
  /* align-self: baseline; */
  left: 15%;
  /* place-self: flex-start; */
  position: absolute;
  border: 2px solid rgba(128, 128, 128, 0);
  border-radius: 20px;
}
.backarrow {
  position: absolute;
  left: 0.5%;
  top: 0.5%;
  z-index: 200;
  background: linear-gradient(to bottom, #141111, #000000);
  border-radius: 50%;
  padding: 0.3em;
  cursor: pointer;
  width: 3em;
  height: 3em;
}

.backarrow:hover {
  background: linear-gradient(to bottom, #00318d, #1e0150);
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) {
  .maindiv {
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: inherit;
    align-content: initial;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    background-color: black;
    justify-self: flex-end;
    left: 50%;
  }

  .chatWithFriends {
    height: 100%;
  }
  .perticularmessage_receiver {
    max-width: 70%;
  }
}

@media only screen and (min-device-width: 1367px) and (max-device-width: 3024px) {
  .maindiv {
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: inherit;
    align-content: initial;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    background-color: black;
    justify-self: flex-end;
    left: 50%;
  }
  .perticularmessage_receiver {
    max-width: 100%;
  }
  .chatWithFriends {
    height: 100%;
  }
}
