.maindiv{
    display: flex;
    position: fixed;
    flex-direction: column;
    overflow: scroll;
    height: 90vh;
    width: 90vw;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /* min-height: 510px; */
    border: 5px solid #80808000;
    border-radius: 10px;
  
    background-color: rgb(255, 255, 255);
    z-index: 10;
    box-shadow: 1px 1px 100px 1px rgba(128, 128, 128, 0.397);

    overflow: hidden;
}
.main{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;

}
.topdiv{
    position: relative;

    z-index: 10;
  
    border: 2px solid #f0282800;
    box-shadow: 3px 5px 10px 0px rgba(128, 128, 128, 0);
    border: 2px solid #ffffff00;
    border-radius: 7px;

}
.profileimage{
    position: absolute;
    left: 1%;
    border: 1px solid grey;
    top: 1%;
    border-radius: 10px;
}
.commentdiv{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 1%;
    border: 3px solid black;
    border: 3px solid #00000014;
    border-radius: 10px;
    padding: 3%;

}
.username{
   
    position: relative;
    margin-left: 10%;
    margin-top: -3%;
 
}
.comment{
    font-size: 0.8em;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
    position: relative;
    margin-left: 10%;
    margin-top: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.wrapspan{
    display: flex;
    flex-direction: row;
 
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width:768px){
    .maindiv{
        width: 40vw;
        z-index: 10;

    }
    .backbut{
        transition: transform ease-in 0.2s;
    }
    .backbut:hover{
        transform:scale(1.1);
    }
}