.maindiv{
    display: flex;
    position: fixed;
    flex-direction: column;
    overflow: scroll;
    height: 90vh;
    width: 90vw;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /* min-height: 510px; */
    border: 5px solid #80808000;
    border-radius: 10px;
    box-shadow: 8px 9px 15px 0px #505050;
    background-color: aliceblue;
    z-index: 2;

    overflow: hidden;
}
.main{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;

}
.topdiv{
    position: relative;
    display: flex;
    z-index: 10;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid #f0282800;
    box-shadow: 3px 5px 10px 0px grey;
    border: 2px solid #ffffff00;
    border-radius: 7px;

}
.profileimage{
    position: absolute;
    left: 1%;
    border: 1px solid grey;
    top: 1%;
    border-radius: 10px;
}
.commentdiv{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 1%;
    border: 3px solid black;
    border: 3px solid #00000014;
    border-radius: 10px;
    padding: 3%;

}
.username{
   
    position: relative;
    margin-left: 10%;
    margin-top: -3%;
 
}
.comment{
    font-size: 0.8em;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
    position: relative;
    margin-left: 10%;
    margin-top: 1%;

}
.backbut{
    background-color: #2196f3;
    color: beige;
    border: 2px solid #80808000;
    border-radius: 10px;
    height: 40px;
}

@media screen and (min-width:768px){
    .maindiv{
        width: 40vw;
        z-index: 10;
    }
}