@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}
.outerbackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.226);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.innerbackground {
  width: 100vw;
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: -3;
  left: 0;
  background-size: 100%;
  background-image: url("https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  overflow: hidden;
  background-repeat: no-repeat;
}
