* {
  margin: 0%;
  padding: 0%;
}
.maindiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  background: linear-gradient(to bottom, #000000, #1a1a1a);
}
.sugglist {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  justify-content: flex-end;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .maindiv {
    padding-top: 0vh;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) {
  .maindiv {
    padding-top: 0vh;
  }
}

@media only screen and (min-device-width: 1367px) and (max-device-width: 3024px) {
  .maindiv {
    padding-top: 0vh;
  }
}
