
.backbut{
    position: absolute;
    z-index: 10;
}
.topsearchbar{
    position: relative;
    margin:1%;
    background-color:rgb(246, 227, 240) ;
    display: flex;
    flex-direction: row;
    padding:3%;
    align-items: center;
 
    border:2px solid rgba(128, 128, 128, 0);
    border-radius:2px;
    box-shadow: 2px 2px 10px rgb(134, 217, 224);
    height:30px;
    justify-content: space-around;
}

.searchinput{
    position: relative;
    border:2px;
    border-radius: 2px;
 

  background-color: rgb(255, 255, 255);   
  outline: none;
}
.searchinput:focus{
  box-shadow: 2px 2px 10px grey;
}
.searchbutton
{
    position: relative;
    border:2px;
    outline:none;
    border-radius: 2px;
    color: white;
    background-color: rgb(48, 48, 175);
    transition: ease-in-out background-color;
}
.searchbutton:active{

background-color: rgb(28, 28, 94);
}
.userprofile{
    position: relative;
    background: linear-gradient(#2193b0, #6dd5ed);
    display: flex;
    border:2px solid rgba(128, 128, 128, 0.144);
    border-radius: 10px;
    margin: 2%;
    justify-content: center;
  

   flex-direction: column;
}
.userprofile img{
    width:20%;
    height:100%;
    border:2px solid rgba(255, 255, 255, 0);
    border-radius:5px;
    
}
.userprofile button{
    background:linear-gradient(#ee9ca7 , #ffdde1) ;
  
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0);
    border-radius: 5px;
    box-shadow: 2px 2px 20px grey;
    transition: ease-in-out;
}
.userprofile button:active{
    background:linear-gradient(#ee9ca7 , #c0aaac) ;
}
.userprofile h4{
    position: absolute;
    top:20%;
    left:50%;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;

  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #94c71e;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
