
.backbut{
    position: absolute;
    z-index: 10;
}
.topsearchbar{
    position: relative;
    margin:1%;
    background-color:rgb(246, 227, 227) ;
    display: flex;
    flex-direction: row;
    padding:3%;
    align-items: center;
 
    border:2px solid rgba(128, 128, 128, 0);
    border-radius:2px;
    box-shadow: 2px 2px 10px rgb(134, 217, 224);
    height:30px;
    justify-content: space-around;
}
.searchinput{
    position: relative;
    border:2px;
    border-radius: 2px;

  background-color: rgb(140, 243, 243);   
  outline: none;
}
.searchinput:focus{
  box-shadow: 2px 2px 10px grey;
}
.searchbutton
{
    position: relative;
    border:2px;
    outline:none;
    border-radius: 2px;
    color: white;
    background-color: rgb(48, 48, 175);
    transition: ease-in-out background-color;
}
.searchbutton:active{

background-color: rgb(28, 28, 94);
}
.userprofile{
    position: relative;
    background: linear-gradient(#2193b0, #6dd5ed);
    display: flex;
    border:2px solid rgba(128, 128, 128, 0.144);
    border-radius: 10px;
    margin: 2%;
    justify-content: center;
  

   flex-direction: column;
}
.userprofile img{
    width:20%;
    height:100%;
    border:2px solid rgba(255, 255, 255, 0);
    border-radius:5px;
    
}
.userprofile button{
    background:linear-gradient(#ee9ca7 , #ffdde1) ;
  
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0);
    border-radius: 5px;
    box-shadow: 2px 2px 20px grey;
    transition: ease-in-out;
}
.userprofile button:active{
    background:linear-gradient(#ee9ca7 , #c0aaac) ;
}
.userprofile h4{
    position: absolute;
    top:20%;
    left:50%;
}