.maindiv{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: stretch;
  overflow: scroll;
  padding: 1%;
  height: 94%;
  flex-wrap: nowrap;
}
.posts{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 95%;
  background-color: rgba(248, 248, 248, 0.219);
  margin-top: 1%;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgb(73 73 80);
  margin: 2%;
  justify-content: space-around;
  align-items: center;
}
.likes{
  position: relative;
  background-color: #ec407a;
  color: white;
  /* height: 1em; */
  border: 0.3em solid #80808000;
  border-radius: 0.6em;
   
}
.posts img{
   position: relative;
   display: flex;
   flex-direction: row;
   border:2px soild greenyellow;
   border-radius: 10px;
}
.loadmorebut{
    position: relative;
    background-color: rgb(88, 204, 88);
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.041);
border-radius: 10px;

transition: ease-in-out zoom;
  
}
.loadmorebut:active{
zoom: 110%;
}
.endmessage{
    background-color: violet;
    position: absolute;
    border:2px solid rgba(128, 128, 128, 0);
    box-shadow:2px 2px 10px grey; 
    border-radius: 10px;
  left:25vw;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;

  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;

  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #2701ff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
