.maindiv
{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 90%;
  transform: translate(-50%, -50%);
  background-color: rgb(189 224 247);
  z-index: 200;
  top: 50%;
  left: 50%;
  border: 2px solid #80808000;
  border-radius: 10px;
  box-shadow: 10px 10px 60px 0px #808080;
}
.maindiv button
{
  font-size: 0.9em;
  color: white;
  background-color: rgba(158, 21, 221, 0.246);
  outline: none;
  border: 2px solid rgba(128, 128, 128, 0);
  background-color: rgb(86, 209, 15);
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgb(86 209 15);
  transform-origin: center;
  width: 30vw;
}
.maindiv img{
    width: 50%;
    height: 50%;
    font-size: 0.9em;
    color: white;
    background-color: rgba(158, 21, 221, 0.246);
    outline: none;
    border:2px solid rgba(128, 128, 128, 0);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px grey;
   transform-origin:center;
}
.maindiv textarea
{
  position: relative;
  outline: none;
  border: 2px solid #000000a3;
  text-align: center;
  width: 90%;
  height: 10vh;
  
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;

  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #1e62c7;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.editimg
{ 
  
  position: relative;
  margin-top: 40%;
  margin-bottom: 10%;
  /* margin-left: 10%; */
  width: 100%;
  height: 100%;
  background-color: rgba(158, 21, 221, 0.246);
  outline: none;
  /* border: 2px solid rgba(128, 128, 128, 0); */
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px grey;
  transform-origin: center;
}
.cropdiv {
  position: fixed;

  display: flex;

  justify-content: center;
  align-items: stretch;
  height: 70%;
  width: 90%;
  transform: translate(-50%, -50%);
  background-color: indigo;
  z-index: 200;
  top: 40%;
  left: 50%;
  border: 2px solid #80808000;
  border-radius: 10px;
  box-shadow: 10px 10px 1000px 1000px #000000;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 10%;
}
@media screen and (min-width:768px) {
  .maindiv{
    height: 80%;
    width: 30%;
  }
}