.topdiv {
  height: 100vh;
}
.maindiv {
  position: relative;
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  /* min-height: 100vh; */
  margin-bottom: 10vh;
  margin-top: 10%;
  /* z-index: 10; */
  /* background-color: rgb(255 255 255); */
  align-items: center;
}
.shadow {
  box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.226);
}
.maindiv img {
  position: relative;

  width: 45%;
  margin: 2%;
  border: 2px solid rgba(182, 22, 22, 0);
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.294);
  animation: transform cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
}
.maindiv img:hover {
}

.topButtons {
  position: relative;
  /* margin-bottom: 2%; */
  margin-top: 1%;
  width: 100%;
  padding: 0%;
  /* z-index: 3; */
  /* height: 2vh; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-around;
}
.topButtons button {
  width: 30%;
  background: #ffffff00;
  border: 2px solid #80808000;
  border-radius: 10px;
  box-shadow: 1px 1px 12px 1px rgba(128, 128, 128, 0.363);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: box-shadow;
  transition-duration: 10ms;
}
.topButtons button:active {
  box-shadow: 1px 1px 4px 1px grey;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;

  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #0cb823;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.infiP {
  text-align: center;
  background-color: #424242;
  color: white;
  width: 100%;
  height: 30px;
  margin-top: 1%;
  margin-bottom: 25%;
  position: relative;
  width: 50%;
  border: 1px solid #80808000;
  border-radius: 10px;
  padding-bottom: 15%;
  left: 25%;
  box-shadow: 1px 1px 10px 1px grey;
}
@media screen and (min-width: 768px) {
  .topButtons {
    position: absolute;
    /* margin-bottom: 2%; */
    margin-top: 1%;
    width: 50%;
    left: 10%;
    padding: 0%;
  }
  .topButtons button {
    transition: transform ease-in 0.2s;
  }
  .topButtons button:hover {
    transform: scale(1.1);
  }
  .maindiv {
    width: 50%;
    left: 10%;
    margin-top: 11%;
  }
  p {
    width: 50%;
  }
  .maindiv img:hover {
    box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.561);
    transform: scale(1.01);
  }
  .infiP {
    padding-bottom: 0%;
    margin-top: 10%;
  }
}
