.maindiv{
    position: relative;
    width:100%;
  height: 400px;

    display: flex;
    overflow: scroll;
    margin-top:5% ;
    flex-wrap: wrap;
    justify-content: space-around;
 
   
    
}
.maindiv img{
position: relative;
height: 100px;
width:33%;


}