.maindiv{
    position: relative;
    height:30%;
    width:100%;
background-color: rgb(255, 255, 255);
border: 2px solid rgba(128, 128, 128, 0);
border-radius: 5%;
box-shadow: 2px 2px 20px 2px rgb(128, 128, 128);

padding-bottom: 2%;
}
.firstdiv{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
padding:5%;
padding-bottom:0% ;
   

}

.firstdiv img{
  width:90px;
  height:90px;
  border:3px solid rgb(0, 0, 0);

  border-radius: 50px;

}

.followersbut
{
   
    width: 70px;
    font-size: 0.9em;
    color: white;
    background-color: rgb(21, 21, 221);
    outline: none;
    border:2px solid rgba(128, 128, 128, 0);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px grey;
   transform-origin:center;
  
}
.followersbut:active{
    font-size: 0.5em;
    width:50px;
    transform-origin:center;
  
}
.followingbut{
    width: 70px;
    font-size: 0.9em;
    color: white;
    background-color: rgb(21, 21, 221);
    outline: none;
    border:2px solid rgba(128, 128, 128, 0);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px grey;
   transform-origin:center;
  
}
.followingbut:active
{
    font-size: 0.5em;
    width:50px;
    transform-origin:center;
}
.isfollowing{
  
    font-size: 0.9em;
    color: white;
    background-color: rgb(29, 194, 117);
    outline: none;
    border:2px solid rgba(128, 128, 128, 0);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px grey;
   transform-origin:center;
}

.seconddiv{
    position: relative;
    display: flex;
    flex-direction: column;
   padding: 5%;
   padding-top:0% ;
   word-wrap: break-word;
}
.seconddiv h6{
    opacity: 0.5;
}
.seconddiv h5{
    padding-top:2% ;
}
.thirddiv {
    position: relative;
    display: flex;
    justify-content: space-around;
    
}
.thirddiv label{
    color: rgba(17, 0, 255, 0.685);
}
.thirddiv label h6{
    color: black;
}
.posts
{
    position: relative;
    padding: 0%;
    margin-right: 1%;
    align-items: center;
    min-height: 37px;
    
   
}
.posts label
{
    
    font-size: 0.9em;
  
  text-decoration: aliceblue;   
    background-color: rgb(207, 159, 25);
    outline: none;
    border-radius: 2px;
    border:2px solid rgba(128, 128, 128, 0.466);
  

   transform-origin:center;

}
@media screen and (min-width:768px){
    .maindiv{
        position: absolute;
    /* height: 30%; */
    left: 50%;
    width: 50%;
    height: auto;
    z-index: 0;
    }
}