.maindiv{
    position: relative;
    height:30%;
    width:100%;
background-color: rgb(255, 255, 255);
border: 2px solid rgba(128, 128, 128, 0);
border-radius: 5%;
box-shadow: 2px 2px 20px 2px rgb(128, 128, 128);
padding-bottom: 2%;
}
.firstdiv{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
padding:5%;
padding-bottom:0% ;
   
}

.firstdiv img{
  width:90px;
  height:90px;
  border:3px solid rgb(0, 0, 0);

  border-radius: 50px;

}


.seconddiv{
    position: relative;
    display: flex;
    flex-direction: column;
   padding: 5%;
   padding-top:0% ;
   word-wrap: break-word;
}
.seconddiv h6{
    opacity: 0.5;
}
.seconddiv h5{
    padding-top:2% ;
}
.thirddiv {
    position: relative;
    display: flex;
    justify-content: space-around;
    
}
.thirddiv label{
    color: rgba(17, 0, 255, 0.685);
}
.thirddiv label h6{
    color: black;
}
