
.maindiv{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    width:100%;
    height:100%;

    background:linear-gradient(rgb(91, 82, 172),rgb(100,82,172),rgb(110,82,172),rgb(150,82,172),rgb(180,82,172),rgb(200,82,172),rgb(220,82,172),rgb(230,82,172),rgb(250,82,172));
    margin:0px;
    z-index:100;
    position:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.backbut {
  border: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 5%;
  /* height: 15px; */
  /* margin-right: 80%; */
  /* margin-top: -15%;
  }
  .back {
    display: block;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    padding: 2px 7px;
    border-radius: 12px;
    font-size: 0.8rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-4px);
  }
  
  .backbut:active .back {
    transform: translateY(-2px);
  }
  
  .backbut:focus:not(:focus-visible) {
    outline: none;
  }
  .back {
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

  .backbut:hover .back {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }

  .backbut:active .back {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
.camera{
   position: relative;
   width: 100px;
    
   
   height:100px;
}
.file {
    background-color: rgb(222, 250, 215);
    position: relative;
    width:100px;
    height:100px;
}
.cameradiv{
 

}