* {
  box-sizing: border-box;
}

.Header {
  display: flex;
  flex-direction: row;
  position: fixed;
  box-shadow: 1px 1px 10px 1px rgb(128 128 128 / 38%);
  justify-content: space-between;
  width: 100vw;
  z-index: 3;
  top: 0vh;
  background: linear-gradient(to top, #22242a, #0d0d0d);

  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff,
    0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
  animation: neon 1.5s ease-in-out alternate;
  box-shadow: 0 0 5px #383838be, 0 0 10px #383838be, 0 0 15px 3px #110f0fbe, 0 0 15px 5px #3a3a3abe;
}
#cameraimg:hover {
  box-shadow: 0 0 10px #fff, 0 0 20px #0055ff, 0 0 70px #0055ff, 0 0 80px #0055ff;
  cursor: pointer;
}
@keyframes neon {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#cameraimg {
  top: 1%;
  /* position: relative; */
  left: 10%;
  margin: 1%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 2em;
  animation: Header_Header_Header_box-shadow__1CKus__1ouEZ__37tUA alternate-reverse 0.2s;

  border-radius: 2em;
  background: linear-gradient(to bottom, #0055ff, #78a5ff);
  background-color: transparent;

  box-shadow: 0 0 1px 0px #a2c1ff, 0 0 5px 1px #0055ff, 0 0 8px 2px #0055ff;
}
.messageimg {
  /* top: 1%; */
  z-index: 1;
  margin: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  /* margin-bottom: 10
px
; */

  border-radius: 2em;
  animation: Header_box-shadow__1CKus alternate-reverse 0.2s;
  background: linear-gradient(to bottom, #0055ff, #78a5ff);

  box-shadow: 0 0 1px 0px #a2c1ff, 0 0 5px 1px #0055ff, 0 0 8px 2px #0055ff;
}
.messageimg:active {
  box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.376);
  transform: scale(1.1);
}
.abovediv {
  position: relative;
}
.abovediv span {
  font-size: 50px;
}
.abovediv2 {
  position: relative;
}
.abovediv2 span {
  font-size: 50px;
  color: rgb(27, 87, 255);
}
.stories {
  width: 70%;
}
.messageimg:hover {
  box-shadow: 0 0 10px #fff, 0 0 20px #0055ff, 0 0 70px #0055ff, 0 0 80px #0055ff;
  cursor: pointer;
}
