* {
  box-sizing: border-box;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#cameraimg {
  top: 1%;
  /* position: relative; */
  left: 10%;
  margin: 1%;
  z-index: 1;
  width: 50px;
  height: 50px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 1px 1px 3px grey;
  animation: Header_Header_box-shadow__1CKus__1ouEZ alternate-reverse 0.2s;
}
.messageimg {
  position: absolute;
  left: 85%;

  top: 1%;
  z-index: 1;

  width: 50px;
  height: 50px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 1px 1px 3px grey;
  animation: box-shadow alternate-reverse 0.2s;
}
.Header img {
  width: 100%;
  height: 100%;
}

.messageimg:active {
  box-shadow: 1px 1px 20px grey;
  transform: scale(1.1);
}
.abovediv {
  position: relative;
}
.abovediv2 {
  position: relative;
  left: -15%;
}
@media screen and (min-width: 768px) {
  #cameraimg {
    width: 70px;
    height: 70px;
  }
  .Header img {
    width: 100%;
    height: 100%;
  }

  .messageimg {
    position: absolute;

    width: 70px;
    height: 70px;
    z-index: 1;

    left: -100px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px rgba(128, 128, 128, 0.514);

    transition: transform cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
  }
  .messageimg:hover {
    transform: scale3d(1.2, 1.2, 10);
    box-shadow: 1px 1px 20px grey;
  }
  #cameraimg {
    transition: transform cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
  }
  #cameraimg:hover {
    transform: scale3d(1.2, 1.2, 10);
    box-shadow: 1px 1px 20px grey;
  }
  .abovediv2 {
    left: 0%;
  }
  .abovediv {
    left: 2%;
  }
}
