.maindiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
 
  
    background-color:pink;
}
.addMore{

}
.picture{
    position: relative;
    transform:translate(-50%,-50%);
    
    width:100%;
    height:auto;
}