.editprofile {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  z-index: 200;
  top: 50%;
  left: 50%;
  border: 2px solid #80808000;
  border-radius: 10px;
  box-shadow: 10px 10px 60px 0px #808080;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.editbut {
  position: relative;
  margin-left: -80%;
  margin-top: 5%;

  width: 70px;
  font-size: 0.9em;
  color: white;
  background-color: rgb(21, 164, 221);
  outline: none;
  border: 2px solid rgba(128, 128, 128, 0);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px grey;

  transition: transform cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
}
.editbut:active {
  transform: scale(1.2);
}
.cropButton {
  position: absolute;
  top: 60%;
  left: 45%;
}
.choosebutton {
  width: 50%;
  outline: none;
  border: 2px solid #80808000;
  border-radius: 5px;
  /* left: 50%; */
  position: relative;
  align-self: center;
  color: white;
  background-color: #f27b26;
  height: 40px;
  box-shadow: 1px 1px 10px 1px #80808094;
  font-size: 1.5em;
  font-family: ui-rounded;
  margin: 5%;
}
.backbut {
  /* position: absolute; */
  top: 0%;
  left: 2%;
  z-index: 10;
  width: 55px;
  font-size: 0.9em;
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
}
.backbut:active {
  transform: scale(1.1);
}
.editimg {
  position: relative;
  /* margin-top: 20%; */
  /* margin-bottom: 10%; */
  /* margin-left: 10%; */
  width: 300px;
  align-self: center;
  height: 300px;
  background-color: rgba(158, 21, 221, 0.246);
  outline: none;
  /* border: 2
px
solid rgba(128, 128, 128, 0); */
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px grey;
  transform-origin: center;
}
.editprofile input {
  position: relative;
  margin: 5%;
  font-size: 1em;
  outline: none;
  border: 2px solid rgba(128, 128, 128, 0);
  padding: 1.6%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #8080802e;
  transform-origin: center;
}
.savebut {
  color: white;
  outline: none;
  border: 2px solid rgba(128, 128, 128, 0);
  background-color: rgb(86, 209, 15);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px #8080806b;
  transform-origin: center;
  width: 30%;
  height: 40px;
  font-size: 1.1em;
  font-weight: bold;
  margin: 5%;
  align-self: center;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;

  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #94c71e;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.editlabel {
  color: black;
  left: 5%;
  position: relative;
  margin-top: 10px;
}
.cropdiv {
  position: fixed;

  display: flex;

  justify-content: center;
  align-items: stretch;
  height: 70%;
  width: 90%;
  transform: translate(-50%, -50%);
  background-color: rgb(228, 228, 235);
  z-index: 200;
  top: 40%;
  left: 50%;
  border: 2px solid #80808000;
  border-radius: 10px;
  box-shadow: 10px 10px 1000px 1000px #ffffff;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 10%;
}
.editprofileMain {
}
@media screen and (min-width: 768px) {
  .editprofile {
    height: 90%;
    width: 30%;
    position: absolute;
    left: 30%;
    box-shadow: 10px 10px 1000px 10px rgb(0, 0, 0);
    z-index: 1000;
    overflow: visible;
  }
  .editimg {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 120%;
    margin-top: 10%;
    box-shadow: 1px 1px 1000px 5px rgb(0 0 0);
    z-index: 10;
  }
  .editbut:hover {
    transform: scale3d(1.2, 1.2, 10);
    box-shadow: 1px 1px 20px grey;
  }
  .choosebutton {
    width: 50%;
    outline: none;

    font-size: 1.5em;
    animation: transform background-color cubic-bezier(0.075, 0.82, 0.165, 1)
      ease-in-out reverse 0.3s;
  }
  .choosebutton:hover {
    background-color: #ce6b24;
    box-shadow: 1px 1px 10px 1px #808080b3;
  }
  .savebut:hover {
    background-color: rgb(4, 180, 77);
  }
  .editprofileMain {
    width: 100%;
    height: 100vh;
    background-color: rgb(252 252 252 / 11%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 100;
    position: absolute;
    scroll-behavior: none;
  }
}
