.editprofile
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(112, 112, 112);
 
}
.editbut
{
  position: relative;
  margin-left:-80% ;
margin-top: 5%;

  width: 70px;
  font-size: 0.9em;
  color: white;
  background-color: rgb(21, 164, 221);
  outline: none;
  border:2px solid rgba(128, 128, 128, 0);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px grey;
 transform-origin:center;

}
.editbut:active{
    font-size: 0.5em;
    width:50px;
    transform-origin:center;
}
.editimg
{ 
    width: 50%;
    height: 50%;
    font-size: 0.9em;
    color: white;
    background-color: rgba(158, 21, 221, 0.246);
    outline: none;
    border:2px solid rgba(128, 128, 128, 0);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px grey;
   transform-origin:center;
}
.editprofile input
{
   position: relative;
   margin: 5%;
    font-size: 0.9em;

  
    outline: none;
    border:2px solid rgba(128, 128, 128, 0);
    padding: 1.6%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px grey;
   transform-origin:center;
  

}
.savebut
{
    font-size: 0.9em;
    color: white;
    background-color: rgba(158, 21, 221, 0.246);
    outline: none;
    border:2px solid rgba(128, 128, 128, 0);
    background-color: rgb(86, 209, 15);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px grey;
   transform-origin:center;

}